/* Removes white loading page */
@-moz-document url(about:blank), url(about:newtab), url(about:home) {
  html:not(#ublock0-epicker),
  html:not(#ublock0-epicker) body,
  #newtab-customize-overlay {
    background: #1d2021 !important;
  }
}

:root {
  scrollbar-width: thin !important;
  scrollbar-color: currentColor transparent;
  /*scrollbar-color: rgba(0, 0, 0, 0.3) #171a1f !important;*/
  border-radius: 7px;
  background: transparent !important;
}

@-moz-document url(about:privatebrowsing) {
  :root {
    scrollbar-width: thin !important;
    scrollbar-color: currentColor transparent;
    /*scrollbar-color: rgba(0, 0, 0, 0.3) #171a1f !important;*/
    border-radius: 7px;
    background: transparent !important;
  }
}